*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    background-color: whitesmoke;
}

header {
    background-color: rgb(219, 144, 5);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}

nav {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
}

button {
    height: 25px;
    aspect-ratio: 2 / 1;
    border: none;
}

button:hover {
    cursor: pointer;
}

.menu-page {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.sushi-section, .drink-section {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.sushi-cards, .drink-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
}

.card {
    display: flex;
    box-shadow: 1px 3px 4px rgb(0,0,0, 15%);
    border-left: 5px solid orange;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.card > img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    align-self: center;
}