*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    background-color: whitesmoke;
}

header {
    background-color: rgb(219, 144, 5);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}

nav {
    display: flex;
    gap: 15px;
    padding-bottom: 10px;
}

button {
    height: 25px;
    aspect-ratio: 2 / 1;
    border: none;
}

button:hover {
    cursor: pointer;
}