@font-face {
    font-family: 'monsterrat';
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    background-color: whitesmoke;
    min-height: 100vh;
    font-family: 'monsterrat', sans-serif;
}

header {
    background-image: url(./images/headerBackground.jpg);
    background-position: center 40%;
    background-size: cover;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: end;
}

nav {
    display: flex;
    gap: 16px;
    padding-bottom: 10px;
}

button {
    height: 25px;
    aspect-ratio: 3 / 1;
    border: none;
    border-radius: 8px;
    font-weight: 600;
}

button:hover {
    cursor: pointer;
}

.home-page {
    min-height: inherit;
    display: grid;
    grid-template-rows: 3fr 2fr 1fr;
    justify-items: center;
    align-items: end;
    text-align: center;
    padding-bottom: 4px;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

.sushi-hero-image {
    width: 491px;
    border-radius: 10px;
}

.rest-name {
    font-size: 96px;
    color: rgb(219, 144, 5);
    text-shadow: 4px 2px 2px black;
}

.home-description {
    font-size: 24px;
    width: 65ch;
    padding-bottom: 56px;
}

.menu-page {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 72px;
    padding: 20px;
}

.sushi-section, .drink-section {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.sushi-cards, .drink-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 36px;
}

.card {
    height: 150px;
    display: flex;
    box-shadow: 0px 5px 15px rgb(0,0,0, 15%);
    border-left: 5px solid orange;
    border-radius: 8px;
    padding: 5px;
    background-color: white;
}

.card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.card > img {
    height: 100px;
    width: 150px;
    object-fit: cover;
    align-self: center;
    border-radius: 4px;
}

.about-page {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 36px;
    padding: 15px;
}

.backstory-container, .hours-container, .map-container {
    display: flex;
    flex-direction: column;
    width: 65ch;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 15px rgb(0,0,0, 15%);
    background-color: white;
    padding: 10px;
    line-height: 1.5;
}

.hours-container > ul {
    list-style: none;
}

.map-container > img {
    height: 450px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid grey;
}